@page "/product/{productNumber:int}"

@inject NavigationManager NavigationManager
@inject lek4.Components.Service.NumberService NumberService
@inject AdService AdService

@using Plugin.MauiMTAdmob
@using Plugin.MauiMTAdmob.Extra
@inject IJSRuntime JSRuntime

@code {
    [Parameter]
    public int productNumber { get; set; }

    private double price;
    private double winningChance;
    private double lockInAmount;
    private double totalOdds;
    private double lockedInOdds;
    private string errorMessage;
    private bool isSuccess;
    private bool exceedsTotalOdds;
    private string timeRemaining;
    private Timer timer;
    private bool shouldLockIn = false;

    protected override void OnInitialized()
    {
        timer = new Timer(UpdateTimer, null, 0, 1000);
        AdService.AdWatched += OnAdWatched;
    }

    protected override void OnParametersSet()
    {
        price = productNumber * 10; // Exempel: Priset ökar med 10 för varje produkt
        NumberService.UnlockProduct(productNumber); // Lås upp produkten när den öppnas
        winningChance = NumberService.GetWinningChance(productNumber); // Get winning chance
        if (winningChance > 100.0) // Kontrollera och begränsa winningChance till 100%
        {
            winningChance = 100.0;
        }
        totalOdds = Math.Max(NumberService.GetRemainingOdds(), 0.0); // Get total odds
        lockedInOdds = NumberService.ProductLockAmounts.ContainsKey(productNumber)
            ? NumberService.ProductLockAmounts[productNumber].Sum()
            : 0;
    }

    private void UpdateTimer(object state)
    {
        var now = DateTime.Now;
        var nextFriday = GetNextFridayAt20();
        var timeSpan = nextFriday - now;

        if (timeSpan.TotalSeconds <= 0)
        {
            nextFriday = GetNextFridayAt20();
            timeSpan = nextFriday - now;
        }

        timeRemaining = $"{timeSpan.Days}d {timeSpan.Hours}h {timeSpan.Minutes}m";
        InvokeAsync(StateHasChanged);
    }

    private DateTime GetNextFridayAt20()
    {
        var today = DateTime.Today;
        var daysUntilFriday = ((int)DayOfWeek.Friday - (int)today.DayOfWeek + 7) % 7;
        var nextFriday = today.AddDays(daysUntilFriday).AddHours(20);

        if (nextFriday < DateTime.Now)
        {
            nextFriday = nextFriday.AddDays(7);
        }

        return nextFriday;
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo($"/products/{NumberService.CurrentNumber:F1}");
    }

    private void LockInPrice()
    {
        if (lockInAmount > 0 && lockInAmount <= 9.0)
        {
            if (NumberService.HasEnoughOdds(lockInAmount))
            {
                if (AdService.IsAdReady)
                {
                    shouldLockIn = true;
                    AdService.ShowAd();
                }
                else
                {
                    errorMessage = "Ad is not ready yet.";
                }
            }
            else
            {
                isSuccess = false;
                errorMessage = "You don't have enough odds.";
            }
        }
        else
        {
            isSuccess = false;
            errorMessage = "Please enter a value between 0.0 and 9.0.";
        }
    }

    private void CompleteLockInPrice()
    {
        if (shouldLockIn)
        {
            NumberService.LockInProduct(productNumber, lockInAmount);
            lockedInOdds += lockInAmount; // Uppdatera locked in odds
            isSuccess = true;
            errorMessage = null;
            shouldLockIn = false;
            AdService.LoadRewardedAd(); // Load the next ad after the lock-in process is complete
            GoBack();
        }
    }

    private void OnAdWatched(object sender, EventArgs e)
    {
        CompleteLockInPrice();
    }

    private void OnSliderChanged(ChangeEventArgs e)
    {
        lockInAmount = Convert.ToDouble(e.Value);
        exceedsTotalOdds = lockInAmount > totalOdds;
    }

    public void Dispose()
    {
        timer?.Dispose();
        AdService.AdWatched -= OnAdWatched;
    }
}

<div class="product-details">
    <button @onclick="GoBack" class="icon-button">
        <i class="fas fa-arrow-left"></i> <!-- Tillbaka ikon -->
    </button>
    <h3>Price: $@price</h3>
    <div class="stats-container">
        <div class="stat-item">
            <p class="stat-value">@winningChance.ToString("0.0")%</p>
        </div>
        <div class="stat-item">
            <p class="stat-value">@totalOdds.ToString("0.0")x</p>
        </div>
        <div class="stat-item">
            <p class="stat-value">@lockedInOdds.ToString("0.0")<i class="fas fa-lock stat-icon"></i></p>
        </div>
    </div>
    <input type="range" min="0.0" max="9.0" step="0.1" value="@lockInAmount" @oninput="OnSliderChanged" class="slider" />
    <p>Selected Amount: @lockInAmount</p>
    <button @onclick="LockInPrice" class="lock-in-button @(isSuccess ? "success" : (string.IsNullOrEmpty(errorMessage) ? (exceedsTotalOdds ? "exceeds" : "") : "error"))">LOCK IN</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error-message">@errorMessage</p>
    }
    <div class="countdown-timer">
        <h4>Fri 20:00</h4>
        <p>@timeRemaining</p>
    </div>
</div>

<style>
    .product-details {
        text-align: center;
        margin: 100px 20px 0px 20px;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: relative;
        transition: box-shadow 0.3s ease-in-out;
    }

        .product-details:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .product-details h3 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #333;
        }

        .product-details p {
            font-size: 1.5em;
            margin-bottom: 20px;
            color: #666;
        }

        .product-details button {
            padding: 10px 20px;
            font-size: 1em;
            margin: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

            .product-details button:hover {
                background-color: mediumpurple;
                color: white;
            }

    .lock-in-button {
        background-color: mediumpurple; /* Mediumpurple färg */
        color: white;
    }

        .lock-in-button:hover {
            background-color: rebeccapurple;
        }

        .lock-in-button.success {
            background-color: #28a745; /* Grön färg */
        }

        .lock-in-button.error, .lock-in-button.exceeds {
            background-color: red; /* Röd färg */
        }

    .icon-button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5em;
        position: absolute;
        top: 15px;
        left: 8px;
    }

    .stats-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .stat-item {
        background-color: mediumpurple;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        max-width: 85px;
        max-height: 60px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 5px; /* Lägg till marginal för utrymme mellan boxarna */
    }

    .stat-value {
        font-size: 1.2em;
        margin: 0;
        color: black; /* Ändra textfärgen till vit */
    }

    .stat-label {
        font-size: 0.9em;
        color: white; /* Ändra textfärgen till vit */
    }

    .stat-icon {
        font-size: 0.7em;
        color: white; /* Ändra textfärgen till vit */
    }

    input[type="range"].slider {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        background: silver;
        outline: none;
        transition: opacity .2s;
        background: linear-gradient(to right, mediumpurple 0%, mediumpurple var(--value), silver var(--value), silver 100%);
    }

        input[type="range"].slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            background: mediumpurple;
            cursor: pointer;
            border-radius: 50%;
        }

        input[type="range"].slider::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background: mediumpurple;
            cursor: pointer;
            border-radius: 50%;
        }

    .error-message {
        color: red;
        font-size: 1em;
        margin-top: 10px;
    }

    .success-message {
        color: green;
        font-size: 1em;
        margin-top: 10px;
    }

    .countdown-timer {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: mediumpurple;
        border: 1px solid mediumpurple;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        font-size: 0.9em;
        text-align: center;
    }

        .countdown-timer h4 {
            margin: 0;
            font-size: 0.9em;
            font-weight: normal;
        }

        .countdown-timer p {
            margin: 0;
            color: white;
            font-size: 0.9em;
        }
</style>
<script>
    document.addEventListener('input', function (event) {
        if (event.target.classList.contains('slider')) {
            event.target.style.setProperty('--value', (event.target.value - event.target.min) / (event.target.max - event.target.min) * 100 + '%');
        }
    }, false);
</script>
